<div class="p-3 mb-2 bg-info text-dark">
<h1 class="text-white" >Testtömegindex</h1>
<h3 class="text-white" >Fésű Gábor</h3>
<div>
  <label class="font-monospace" class="text-white " > Testtömeg ( kg )</label>
  <input [formControl]="tomeg" >
</div>
<div class="">
  <label class="font-monospace" class="text-white">Testmagassag ( m )</label>
  <input [formControl]="magassag">
</div>

<button (click) ="onClickSzamit()" type="button" class="btn btn-danger" >
  Szamit
</button>
<div *ngIf="TesttomegVisible">
  <label>Eredmeny </label>
  <input [formControl]="result">
</div>

<div>
  <br>
<label class="font-monospace" class="text-white" >Fésű Gábor Szoft IN/II 2022.01.13</label>
</div>
</div>